/* 3.3 Main Slider */
.main_slider {
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.main_slider_content {
  width: 60%;
  margin-top: 100px;
}
.main_slider_content h6 {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 29px;
  color: #ffffff;
}
.main_slider_content h1 {
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
}
.red_button {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  background: 	#088178;
  border-radius: 3px;
  transition: all 0.3s ease;
  margin-top: 20px;
}
.register {
  margin-left: 10px;
  background: #555555;
}
.red_button a {
  display: block;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 40px;
  width: 100%;
}
.red_button:hover {
  background: #677fec;
}
.shop_now_button {
  width: 140px;
  margin-top: 32px;
}

.super_container {
  background:#111111;
}

/* 4. Banner */
.banner {
  width: 100%;
  margin-top: 30px;
}
.banner_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 265px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.banner_category {
  height: 50px;
  background: #ffffff;
  min-width: 180px;
  padding-left: 25px;
  padding-right: 25px;
}
.banner_category a {
  display: block;
  color: #1e1e1e;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  width: 100%;
}
.banner_category a:hover {
  color: #b5aec4;
}
/* Produk terbaru*/
.new_arrivals {
  width: 100%;
}
.new_arrivals_title {
  margin-top: 74px;
  
}
.new_arrivals_sorting {
  display: inline-block;
  border-radius: 3px;
  margin-top: 59px;
  overflow: visible;
}
.grid_sorting_button {
  height: 40px;
  min-width: 102px;
  padding-left: 25px;
  padding-right: 25px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  background: #ffffff;
  margin: 0;
  float: left;
  margin-left: -1px;
}
.grid_sorting_button:first-child {
  margin-left: 0px;
}
.grid_sorting_button.active {
  color: #ffffff;
  background: #555555;
}
.grid_sorting_button.active:hover {
  background: #999999 !important;
}

/* Produk baru grid */
.product-grid {
  width: 100%;
  margin-top: 57px;
  margin-bottom: 57px;
  background: white;
  border-radius: 10px;
}
.product-item {
  width: 20%;
  height: 415px;
  cursor: pointer;
  border-radius: 10px;
}
.product-item::after {
  display: block;
  position: absolute;
  top: 0;
  left: -1px;
  width: calc(100% + 1px);
  height: 100%;
  pointer-events: none;
  content: "";
  border: solid 2px rgba(235, 235, 235, 0);
  border-radius: 3px;
  transition: all 0.3s ease;
}
.product-item:hover::after {
  box-sizing: 0 25px 29px rgba(63, 78, 100, 0.15);
  border: solid 2px rgba(235, 235, 235, 1);
  border-radius: 10px;
}
.product {
  width: 100%;
  height: 340px;
  border-radius: 10px;
}
.product_image {
  width: 100%;
  border-radius: 10px;
}
.product_image img {
  width: 100%;
  border-radius: 10px;
}
.product_info {
  text-align: center;
  height: 200px;
  padding-left: 10px;
  padding-right: 10px;
}
.product_name {
  margin-top: 27px;
}
.product_name a {
  color: #1e1e27;
  line-height: 20px;
}
.product_name:hover a {
  color: #b5aec4;
}

.product_price {
  font-size: 12px;
  color: #111111;
  font-weight: 600;
}
.product_price span {
  font-size: 12px;
  margin-left: 10px;
  color: #b5aec4;
  text-decoration: line-through;
}
.new_arrivals_title h2{
  color: white;

}

.add_to_cart_button a {
  font-size: 12px;
  font-weight: 600;
}
.add_to_cart_button {
  width: 100%;
  margin-top: 33px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3 ease;
  border-radius: 10px;
}
.product-item:hover .add_to_cart_button {
  visibility: visible;
  opacity: 1;
}
.favorite {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #b9b9b9;
  width: 17px;
  height: 17px;
  visibility: hidden;
  opacity: 0;
}
.favorite_left {
  left: 15px;
}
.favorite.active {
  visibility: visible;
  opacity: 1;
}
.product-item:hover .favorite {
  visibility: visible;
  opacity: 1;
}
.favorite.active::after {
  font-family: "FontAwesome";
  content: "\f004";
  color: #fe4c50;
}
.favorite::after {
  font-family: "FontAwesome";
  content: "\f08a";
}
.favorite:hover::after {
  color: #fe4c50;
}


/* ***** Responsive ****** */
@media only screen and (max-width: 1199px) {
  .main_slider {
    min-height: 475px;
    height: calc(100vw / 1.714);
  }
  .main_slider_content {
    width: 80%;
  }
  .banner_item {
    height: 220px;
  }
  .product-item {
    height: 380px;
  }
  .product {
    height: 305px;
  }
  .add_to_cart_button a {
    font-size: 8px;
  }
  .product_price span {
    display: block;
  }
}
@media only screen and (max-width: 991px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 36px;
  }
  .main_slider_content {
    margin-bottom: 23px;
  }
  .grid_item {
    width: 25%;
  }
  .navbar_menu {
    display: none;
  }
  .banner_category {
    min-width: 160px;
  }
  .banner_category a {
    font-size: 17px;
    line-height: 50px;
  }
  .product-item {
    width: 25%;
  }
  .product_price span {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 12px;
  }

  .main_slider_content h1 {
    font-size: 40px;
  }
  .banner_item {
    margin-bottom: 30px;
    height: 210px;
  }
  .product-item {
    height: 360px;
    width: 33.333333333%;
  }
  .product {
    height: 285px;
  }
  .grid_sorting_button {
    font-size: 13px;
    min-width: 80px;
  }
  .product_price span {
    display: block;
  }
}
@media only screen and (max-width: 575px) {
  .product-item {
    width: 40%;
    height: 350px;
  }
  .product {
    height: 275px;
  }
  .product-grid {
    padding-left: 20px;
  }
}

@media only screen and (max-width: 479px) {
  .main_slider_content h6 {
    margin-bottom: 15px;
  }
  .main_slider_content h1 {
    font-size: 24px;
  }
  .product-item {
    width: 40%;
    height: 370px;
  }
  .product {
    height: 295px;
  }
  .grid_sorting_button {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 60px;
  }
}
